# dotfiles
work
.dotfiles
.aws/config
.aws/credentials
.aws/cli/cache
.bashrc.site
.password-store
.SpaceVim.d/
.vim/.netrwhist
.ssh
.gnupg/pubring.kbx
.gnupg/trustdb.gpg
.dotfiles-repo
.gnupg/S.gpg-agent

# python
venv*
virtualenv
__pycache__/
.python_history
.ansible_galaxy
.ipython

# clojure
.clojure/
.gitlibs/
.cljs/
.clojure_history

# nodejs
node_modules
.node_repl_history
.pkg-cache

# macos
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.Trash
.DS_Store
.CFUserTextEncoding
Brewfile.lock.json

# stuff
.ansible/
.cache/
.docker/
.terraform.d/
.viminfo
.bash_history
.zsh_history
.babel.json
.config/*
.config/nvim/.netrwhist
!.config/nvim
.kube/
.m2/
.npm/
.packer.d/
.yarnrc
.lesshst
.cpan/
.irssi/
.gem/
.env
.oracle_jre_usage/
.bash_sessions/
.bash_logout
.asdf
.local/
.cups/
data/
tmp/
.cookiecutter_replay/
.cloudflared
.vault-token
.caddy
.cookiecutters/
.wget-hsts
.getenvoy
home/
.npmrc
.pip/pip.conf
.aws-sam

# cypress
cypress/plugins/
cypress/support/
cypress/videos/
cypress/fixtures/
.pki

# go
.dlv

.irb_history
.postman

.kumactl
.acme.sh
.windmill
.pytest-kind/
.bundle
.vendor
.fly
.vscode
config.json
.talon
/go
.sudo_as_admin_successful
/snap
