python system
nodejs 12.18.3
consul 1.8.3
vault 1.5.0
packer 1.6.1
terraform 0.13.0
kubectl 1.18.8
kustomize 3.7.0
kind 0.8.1
golang 1.15
getenvoy 0.1.8
defn--asdf-plugin defn1
shflags defn7
sub defn7
kitt defn7
katt defn1
kiki defn10
gandalf defn9
