cookiecutter
httpie
pre-commit
diagrams
click
rich
yq
pyinfra
testinfra
pyhcl
keyring

pydantic
attrs
lambda_decorators
black
isort
mypy
pyflakes
pytest
pytest-cov
coverage

sphinx
sphinx-rtd-theme

docker-compose
