cookiecutter
httpie
httpie-aws-authv4
pre-commit
diagrams
keyring
yq

black
isort
pyflakes
pytest
pytest-shell
pytest-kind
testinfra
pyinfra

sphinx
sphinx-rtd-theme

docker-compose

boto3
botocore
awscli
