cookiecutter
httpie
pre-commit
diagrams
click
rich
yq
pyinfra
pyhcl
keyring

pydantic
attrs
lambda_decorators
black
isort
mypy
pyflakes
pytest
pytest-cov
coverage

ansible==2.8.1
ansible-ec2-inventory
youtrack
