[profile okta-profile]
aws_saml_url = home/amazon_aws/22222222222222222222/333
role_arn = arn:aws:iam::1111111111111:role/Administrator

[profile profile]
source_profile = okta-profile
role_arn = arn:aws:iam::1111111111111:role/Administrator
region = us-east-1

[profile sre-profile]
credential_process = aws-okta cred-process profile
