*.d.ts
*.js
node_modules
cdktf.out
cdktf.log
*terraform.*.tfstate*
terraform.tfstate*
.gen
.terraform
.plan
.terraform.tfstate.lock.info
dist/
imports/*
!imports/__init__.py
.terraform
cdktf.out
cdktf.log
*terraform.*.tfstate*
